/Debug/
\.settings/language\.settings\.xml
\.settings/org\.eclipse\.cdt\.managedbuilder\.core\.prefs
midburn2018_magic_tunnel\.elf\.launch
projects/Emulator/.settings/org.eclipse.cdt.managedbuilder.core.prefs
projects/Emulator/LED_Emul_output.txt
projects/Emulator/Debug/midburn2018_magic_tunnel_emul.exe
projects/Emulator/Debug/src/LED_shows.o
projects/Emulator/Debug/src/main.o
projects/Emulator/Debug/src/ws2812b_multi_strip_driver.o
projects/hci_controller/project_hci_controller/__pycache__/
projects/Emulator/.settings/language.settings.xml
